<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Check-In Confirmado</title>
</head>
<body>
    <h1>Check-In realizado con éxito ✈️</h1>

    <p><b>Vuelo:</b> {{ checkin.compra.vuelo.codigo }}</p>
    <p><b>Asiento:</b> {{ checkin.asiento }}</p>

    {% if checkin.maleta_set.exists %}
        <h3>Maletas registradas:</h3>
        <ul>
            {% for maleta in checkin.maleta_set.all %}
                <li>Peso: {{ maleta.peso }} kg | Costo: ${{ maleta.costo }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se registraron maletas.</p>
    {% endif %}

    <p><a href="{% url 'buscar_vuelos' %}">Volver al inicio</a></p>
</body>
</html>
