<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Compra Confirmada</title>
</head>
<body>
    <h1>Compra confirmada ✅</h1>

    <p><b>Código de reserva:</b> {{ compra.codigo_reserva }}</p>
    <p><b>Vuelo:</b> {{ compra.vuelo.codigo }} - {{ compra.vuelo.origen }} → {{ compra.vuelo.destino }}</p>
    <p><b>Fecha salida:</b> {{ compra.vuelo.fecha_salida }}</p>
    <p><b>Precio:</b> ${{ compra.vuelo.precio }}</p>

    <h2>Próximo paso:</h2>
    <a href="{% url 'checkin_vuelo' compra.id %}">Realizar Check-In</a>

    <p><a href="{% url 'buscar_vuelos' %}">Volver a buscar vuelos</a></p>
</body>
</html>
