{% extends 'base.html' %}
{% block title %}Comprar Vuelo{% endblock %}

{% block content %}
<div class="card shadow">
  <div class="card-body">
    <h3 class="text-center mb-4">Confirmar Compra</h3>
    <p><strong>Reserva:</strong> #{{ reserva.id }}</p>
    <p><strong>Vuelo:</strong> {{ reserva.vuelo.codigo }}</p>
    <p><strong>Origen:</strong> {{ reserva.vuelo.origen }}</p>
    <p><strong>Destino:</strong> {{ reserva.vuelo.destino }}</p>
    <p><strong>Precio:</strong> ${{ reserva.vuelo.precio }}</p>

    <form method="post">
      {% csrf_token %}
      <div class="d-grid">
        <button type="submit" class="btn btn-success">Confirmar Compra</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
